<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='assets/logo.png') }}" type="image/png" />
    <title>Slowed App</title>
</head>
<body>
    <div class="loading" style="display: none;">
        <span class="loader"></span>
    </div>
    <header class="header">
        <div class="logo-container">
            <a href="/">
                <img class="logo" src="{{url_for('static', filename='assets/logo.png')}}" alt="Logo do Slowed App" />
            </a>
        </div>
        <nav class="navbar">
            <a class="nav-item" href="/">Início</a>
            <a class="nav-item" href="/about" style="border-bottom: 2px solid #fff;">Sobre</a>
        </nav>
    </header>
    
    <main class="main">
        <section class="card-container">
            <div class="photo-container">
                <img src="{{ url_for('static', filename='assets/authors/joseph.jpeg') }}" alt="" class="photo">
            </div>

            <div class="info-container">
                <div class="info-header">
                    <h2>José de Brito - DEV</h2>
                </div>
                <div class="info-body">
                    <p>Programador responsável pelo algoritmo e funcionamento do sistema Slowed App</p>
                </div>
                <div class="info-footer">
                    <a href="https://github.com/josephbrito" target="_blank">
                        <i class="icon fa-brands fa-github"></i>
                    </a>
                    
                    <a href="https://www.linkedin.com/in/josé-brito-b14472215/" target="_blank">
                        <i class="icon fa-brands fa-linkedin"></i>
                    </a>

                    <a href="mailto:josephbritogds@gmail.com" target="_blank">
                        <i class="icon fa-solid fa-envelope"></i>
                    </a>
                </div>
            </div>
        </section>

        <section class="card-container">
            <div class="photo-container">
                <img src="{{ url_for('static', filename='assets/authors/allana.jpeg') }}" alt="" class="photo">
            </div>

            <div class="info-container">
                <div class="info-header">
                    <h2>Allana Amaral - Designer</h2>
                </div>
                <div class="info-body">
                    <p>Designer responsável pelo layout, logos e imagens do sistema Slowed App</p>
                </div>
                <div class="info-footer">
                    <a href="https://github.com/allanaamaral" target="_blank">
                        <i class="icon fa-brands fa-github"></i>
                    </a>
                    
                    <a href="https://www.linkedin.com/in/allana-amaral-728002266/" target="_blank">
                        <i class="icon fa-brands fa-linkedin"></i>
                    </a>

                    <a href="mailto:allanaamaralpereira27@gmail.com" target="_blank">
                        <i class="icon fa-solid fa-envelope"></i>
                    </a>
                </div>
            </div>
        </section>
    </main>

    <footer class="footer">
        <p>&copy; Slowed App - <span id="year"></span></p>
    </footer>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/5f166de9b4.js" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename="js/script.js") }}"></script>
</body>
</html>